@charset 'utf-8';

@font-face {
    font-family: 'webfont';
    src: url('webfont.eot');
    src: url('webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont.woff') format('woff'),
         url('webfont.ttf') format('truetype'),
         url('webfont.svg#webfont') format('svg');
}

body {
    background: url(http://html-.b0.upaiyun.com/sexy-loading/demo/background.jpg) center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

h1 {
    color: #FFF;
    font-family: 'webfont', sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    margin: 2em;
    text-shadow: 1px 1px 3px #000;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.image {
    width: 60%;
    margin: 0 auto 2em;
    border: 5px solid #FFF;
    opacity: 0.6;
    transition: opacity 300ms linear;
}

.image:hover {
    opacity: 1;
    transition: opacity 300ms linear;
}